.tags-container {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 60%;
  }
  
  .tag {
    margin: 5px;
    padding: 5px 14px;
    border-radius: 15px;
    font-size: 14px;
    text-transform: capitalize;
    
  }